.view-container
{
	      background-color:#fdf1f1;
	
}
.vertical-margin
{
	margin:1em 0;
}

.horizontal-spacer
{
	border-top:3px solid #4f0000;
	background-color:#4f0000;
}

f-icon.bookmark-icon
{
	width:100px;
	height:100px;
	padding:0 .2em
}

f-icon.bookmark-icon,f-icon.bookmark-icon::before
{
	font-size:100px	
}

f-icon.bookmark-icon-large
{
	width:100px;height:100px;padding:0 .2em
}

f-icon.bookmark-icon-large,f-icon.bookmark-icon-large::before
{
	font-size:100px
}

.bookmark
{
	margin:.2em;
	position:relative
}

.bookmark button
{
	margin:0
}
.bookmark .delete-button,.bookmark .edit-button,.bookmark .view-button
{
	position:absolute;
	right:.2em
}

.bookmark .edit-button,.bookmark .view-button
{
	top:.2em
}

.bookmark .delete-button
{
	bottom:.2em
}

.bookmark:not(.inside) .delete-button,.bookmark:not(.inside) .edit-button,.bookmark:not(.inside) .view-button
{
	display:none
}

.categorized-bookmark-types
{
	display:-webkit-box;
	display:-moz-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:box;
	display:flex;
	-webkit-box-lines:multiple;
	-moz-box-lines:multiple;
	-o-box-lines:multiple;
	-webkit-flex-wrap:wrap;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap
}

.categorized-bookmark-types>div
{
	-webkit-box-flex:1;
	-moz-box-flex:1;
	-o-box-flex:1;
	-ms-box-flex:1;
	box-flex:1;
	-webkit-flex-grow:1;
	flex-grow:1;
	max-width:200px;
	margin:0 .2em
}
.categorized-bookmark-types>div .radio-group
{
	width:100%
}

.loading
{
	min-height:100px
}
	
